footer{
  padding: 128px 120px 200px;
  background-image: url(../assets/image/Background_Contacts.png);
  background-size: cover;
  background-repeat: round;

  #title_footer{
    justify-content: center;

    h2{
      padding-block: 128px 8px;
      color: var(--purple);
      justify-self: center;
    }
    p{
      padding-block: 8px 48px;
      justify-self: center;
    }
  }

  #rede_social{
    gap: 16px;
    justify-content: center;
    align-items: center;
   

    .information{
      width: 28px;
      height: 28px;
      object-fit: contain;
      
    }

    figcaption{
      display: inline-block;
      width: 288px;
      padding: 3px 12px;
      position: absolute;
      

    }
    .arrow{
      position: relative;
      left: 300px;
      bottom: 5px;
      object-fit: contain;
      width: 20px;
      height: 20px;
      
     
    }
  }

  .card_footer{
    background-color: var(--gray-400);
    border-radius: 8px;
    width: 400px;
    height: 68px;
    padding: 20px;
    
  }

}