footer{
  max-width: 80%;
  padding: 128px 120px 200px;
  background-image: url(../assets/image/Background_Contacts.png);
  background-size: cover;
  background-repeat: round;

  #title_footer{
    justify-content: center;

    h2{
      padding-block: 128px 8px;
      color: var(--purple);
      justify-self: center;
    }
    p{
      padding-block: 8px 48px;
      justify-self: center;
    }
  }

  #rede_social{
    gap: 16px;
    justify-content: center;
    align-items: center;
    
    .information{
      width: 28px;
      height: 28px;
      transition: .2s ease;
    }
    
    .card_footer{
      background-color: var(--gray-400);
      border-radius: 8px;
      width: 400px;
      height: 68px;
      padding: 20px;
      display: grid;
      grid-template-columns: 28px 1fr 28px;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      transition: border .2; /*TRANSIÇÃO DA BORDA*/
      
      &:hover {
        border: 2px solid #3895db ;
      }
    }
    .card_footer .arrow{
     width: 20px;
     height: 20px; 
     transition: .2s ease; 
    }
    
    /* Ícones mudam no hover */
    .card_footer:hover .information,
    .card_footer:hover .arrow{
 
     filter: invert(44%) sepia(57%) saturate(1250%) hue-rotate(181deg) brightness(93%) contrast(94%);
    }
    
    .card_footer:hover a{
      color: #3895db;
    }
    
    a{
     text-decoration: none;
     color: var(--gray-100);
    }
  }
 
}