header{
  background-image:url(../assets/image/Background_Intro.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 163px 183px;
  
  
  

  .foto{
    justify-self: center;
    position: relative;
    border: 5px solid var(--red);
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    padding: 5px;
  }
  .tag_foto{ 
    justify-self: center;              
    position: relative;
    left: 33px;
    bottom: 29px;
    height: 30px;
    object-fit: contain;
  }
  figcaption{
    
    h1{
      padding-top: 56px;
      justify-self: center;
      color: var(--gray-200);
    }
    span{
      color: var(--red);
    }
    h2{
      padding-block: 8px 20px;
      justify-self: center;
      color: var(--gray-100);

    }
    p{
      height: 40px;
      max-width: 680px;
      justify-self: center;
      color: var(--gray-300);
      /* padding-bottom: 80px; */
    }
  }
 
 #secondary{
   position: relative;
   gap: 16px;
   padding-block: 80px 74px;
  
   a{
     text-decoration: none; 
     color: var(--gray-200);

     &:hover{
      color: var(--blue);
     }
    }

    img{
      object-fit: contain;
      width: 20px;
      height: 20px;
    }

    span{
      position: absolute;
      padding-left: 8px;
      align-self: center;
      }

    .content-tag {
      display: inline-block;
      background-color: var(--gray-400);
      border-radius: 50px;
      width: 114px;
      height: 40px; 
      padding: 8px 16px;
    }
  }
}

#seta {
  object-fit: cover;
  align-items: center;
  justify-self: center;
  width: 32px;
 
  &:hover{
    color: aqua;
  }

}