.grid{
  display: grid;
}
.grid-auto-flow{
  grid-auto-flow: column;
}
.grid-template-columns{
  grid-template-columns: 1fr 1fr;
}
 /*fonte - Asap*/
.text-lg{
  font: var(--title-lg);
}
.text-md{
  font: var(--title-md);
}
.text-sm{
  font:var(--title-sm);
}
/*fonte - Iconsolata*/
.text-subtitle{
  font: var(--subtitle);
}
/*maven-pro*/
.text-md-pro{
  font: var(--text-md-pro);
}
.text-sm-pro{
  font: var(--text-sm-pro);
}

